/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   background-color: black;
 }

.undline {
  display: inline-block;
  border-bottom: solid black 3px;
}

.pg-hd {
  color: white;
  background-color: rgba(0,0,0,0.9);
  border-top: solid white 4px;
  border-bottom: solid white 2px;
}

.in-box {
  color:white;
  background-color: rgba(0,0,0,0.9);
  border: solid black 5px;
  border-radius: 7px;
  display: inline-block;
  width: 30%;
  margin: 10px;
}

.in-box:hover {

}

.lg-txt-field {
  width: 50%;
  height: 20em
}

.url-field {
  width: 30em;
}

.link-to {
  text-decoration: none;
  color: #f2aeef;
  cursor: pointer;
}

.link-to:hover {
  color:purple;
}

.main {
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
  width: 98%;
  margin: 0;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  background-attachment: fixed;
  min-height: 800px;
}
